<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>

<body>
    <h1>Панель администратора</h1>
    <p>Общее количество пользователей: {{users}}</p>
    <p>Общее количество созданных комнат: {{rooms}}</p>
    <p>Максимальное количество пользователей онлайн: {{max_users}} (не активно)</p>
    <p>Максимальное количество комнат онлайн: {{max_rooms}} (не активно)</p>
</body>

</html>
