<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Document</title>
</head>

<body>
    <div id="admin">
        <form action="/admin" method="GET">
            <button id="admin_btn">Панель администратора</button>
        </form>
    </div>
    <div id="main">
        <div id="main_content">
            <h1>Geometry Room</h1>
            <form action="/createRoom" method="POST">
                <button class="btn" name="status" value="choice">Создать комнату</button>
            </form>
            <form action="/createRoom" method="POST">
                <button class="btn" name="status" value="connect">Присоединиться</button>
            </form>
        </div>
    </div>
</body>

</html>