html {
    overflow:  hidden;
}

body {
    margin: 0;
    padding: 0;
}

#sidebar {
    position: absolute;
    width: 15vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    background: #2c3e50;
    z-index: 0;
}
#body_sidebar {
    display: block;
    margin: 0;
}
#sidebar header {
    margin: 20px 0;
    font-size: 24px;
    font-family: monospace;
    text-align: center;
    color: #E2E2E2;
}
#copyIdRoom {
    font-size: 14px;
    font-family: monospace;
    text-align: center;
    color: #E2E2E2;
    border: none;
    border-radius: 5px;
    background: #41464b;
}
#copyIdRoom:hover {
    background: #313438;
    box-shadow: 0 0 10px 5px #000000;
}
.sidebar_container {
    margin: 1vh;
    font-size: 16px;
    font-family: monospace;
    text-align: left;
    color: #E2E2E2;
}
.sidebar_buttons {
    display: block;
    width: 90%;
    height: 5%;
    margin: 1vh;
    font-size: 14px;
    font-family: monospace;
    text-align: center;
    color: #E2E2E2;
    border: none;
    border-radius: 10px;
    background: #41464b;
}
.sidebar_buttons:hover {
    background: #313438;
    box-shadow: 0 0 10px 5px #000000;
}
#users_list {
    display: block;
    margin: 0;
    margin-left: 5%;
    padding: 0;
    width: 90%;
    height: 50%;
    overflow-y: scroll;
    background: #41464b;
}
#users_list li {
    margin: 0;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
    font-size: 14px;
    font-family: monospace;
    text-align: left;
    color: #E2E2E2;
    list-style: none;
}
#users_list button {
    margin: 0;
    margin-left: 5px;
    padding: 0;
    width: 20%;
    height: 100%;
    font-size: 14px;
    font-family: monospace;
    text-align: center;
    color: #E2E2E2;
    border: none;
    background: #313438 ;
}
#users_list button:hover {
    background: #41464b;
    box-shadow: 0 0 5px 5px #000000;
}

#applet_container {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    margin-left: 15vw;
    z-index: 0;
}

#chat {
    position: absolute;
    width: 15vw;
    height: 100vh;
    margin: 0;
    margin-left: 85vw;
    padding: 0;
    display: flex;
    justify-content: space-between;
    background: #2c3e50;
    z-index: 0;
}
#body_chat {
    display: block;
    margin: 0;
    width: 100%;
    text-align: center;
}
#body_chat header {
    margin: 2vh 0;
    font-size: 24px;
    font-family: monospace;
    text-align: center;
    color: #E2E2E2;
}
#chat_container {
    margin: 0 2vh;
    padding: 0;
    width: 85%;
    height: 75%;
    overflow-y: scroll;
    background: #41464b;
}
#chat_container li {
    margin: 0;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
    font-size: 14px;
    font-family: monospace;
    text-align: left;
    color: #E2E2E2;
    list-style: none;
}
#input_chat {
    margin: 2vh 0;
    width: 100%;
    height: 5%;
}
#input_chat_area {
    width: 60%;
    height: 100%;
    font-size: 16px;
    font-family: monospace;
    text-align: left;
    color: #E2E2E2;
    border: none;
    border-radius: 5px;
    background: #41464b;
}
#input_chat_send {
    width: 20%;
    height: 100%;
    margin-left: 1vh;
    text-align: center;
    color: #E2E2E2;
    border: none;
    border-radius: 5px;
    background: #41464b;
}
#input_chat_send:hover {
    background: #313438;
    box-shadow: 0 0 10px 5px #000000;
}
.hidden_buttons {
    width: 1vw;
    border: none;
    background: #41464b;
}
.hidden_buttons:hover{
    background: #313438;
    box-shadow: 0 0 10px 5px #000000;
}

#voice_chat{
    margin: 2vh 0;
    width: 100%;
    height: 5%;
}
#microphone{
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #E2E2E2;
    border: none;
    border-radius: 5px;
    background: #41464b;
}
#microphone:hover{
    background: #313438;
    box-shadow: 0 0 10px 5px #000000;
}

#cursor {
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    z-index: 1;
    opacity: 0.75;
    background-color: red;
}
